<h1>Device List</h1>
{% if device_list %}
    <ul>
    {% for device in device_list %}
	<li>
	    <h3>{{ device.name }}</h3>
	    <b>Location Information</b>
	    {% if device.allow_tracking %}
		<br>Latitude: {{ device.latitude }}
		<br>Longitude: {{ device.longitude }}
		<br>Timestamp: {{ device.getFormattedTimestamp }}
		<form action="/devices/{{ device.id }}/trackfrequency" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
		    {{ location_form.track_frequency.errors }}
		    Current frequency of location checks: {{ device.track_frequency }} seconds
		    <br><label for="id_track_frequency">New frequency of location checks:</label>
		    {{ location_form.track_frequency }}
		</div>
		<input type="submit" value="Update frequency" />
		</form>
	    {% else %}
		Tracking is not enabled for this device.
	    {% endif %}

	    <br><b>Wipe Information</b>
	    {% if device.wipe_requested %}
		<br>Wipe initiated
		{% if device.is_wiped %}
		    <br>Status: Completed
		{% else %}
		    <br>Status: Pending
		{% endif %}
	    {% else %}
		<br>Wipe not requested
	    {% endif %}
	    <br><b>Push Enabled</b>
	    {% if device.google_id != "" %}
		<br>Yes: {{ device.google_id }}
	    {% else %}
		<br>No
	    {% endif %}
	    <br>
	    <form action="/devices/{{ device.id }}/wipe/" method="post">
	    {% csrf_token %}
	    <input type="submit" value="Wipe device" /> 
	    </form>
	    <form action= "/devices/{{ device.id }}/send/" method="post">
	    <input type="submit" value="Send Push Notification" />
	    </form>
	</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No devices are registered.</p>
{% endif %}
