<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mozilla.android.devmgr"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
    <!-- Permissions -->
    <!-- Internet and both location providers -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- C2DM stuff commented out
    <uses-permission android:name="com.mozilla.android.devmgr.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->
    <application 
        android:name=".base.DMApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <!-- C2DM stuff commented out -->
        <!-- Only C2DM servers can send messages for the app. (Stops other apps from potentially generating messages -->
        <!--
        <receiver android:name=".C2DMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mozilla.android.devmgr" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.mozilla.android.devmgr" />
            </intent-filter>
        </receiver>
        -->
        <!-- Services used for c2dm -->
        <!--
	    <service android:name=".c2dm.registration.RegistrationIDReceiver" android:enabled="true" android:exported="true">
	        <intent-filter>
	            <action android:name="com.mozilla.android.devmgr.intent.REGISTER" />
	            <category android:name="com.mozilla.android.devmgr" />
	        </intent-filter>
	    </service>
	    -->
	    
	    <!-- Service for getting the device's location -->
	    <service 
            android:name=".services.LocationUpdateService"
            android:enabled="true"
	        android:exported="true">
	    </service>
        
        <!-- Declaration for main activity, set it to launch when app is started -->    
        <activity android:name=".activities.StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Settings Activity -->
        <activity android:name=".activities.SettingsActivity">
        </activity>
        
        <!-- About Activity -->
        <activity android:name=".activities.AboutActivity">
        </activity>
    </application>
</manifest>